<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">
        <h1>Create your profile</h1>
        <%= render "form", profile: @profile %>
      </div>
    </div>
  </div>
</div>
