// Define variables for your color scheme

// For example:
$red: #F56980;
$dark-red: #C1464D;
$blue: #00B4F0;
$dark-blue: #009CCF;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #5A5A5A;
$light-gray: #E9F0F2;
