<!-- banner -->
  <div class="banner">
    <div class="banner-content text-center">
      <h1>Change your life with Buddy!</h1>
      <p>BuddyBuddy brings new community to your family</p>
      <%= link_to "Become A Buddy", new_user_registration_path, class: "btn btn-red"  %>
    </div>
  </div>

  <!-- intro -->
  <div class="intro">

  </div>

  <!-- footer -->
  <%= render 'footer' %>
